/com.ibm.ut.ic.server.prefs
/org.eclipse.core.resources.prefs
/org.eclipse.debug.ui.prefs
/org.eclipse.egit.core.prefs
/org.eclipse.help.base.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.jdt.launching.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.jst.j2ee.webservice.ui.prefs
/org.eclipse.mylyn.context.core.prefs
/org.eclipse.mylyn.monitor.ui.prefs
/org.eclipse.mylyn.tasks.ui.prefs
/org.eclipse.rse.core.prefs
/org.eclipse.rse.ui.prefs
/org.eclipse.ui.browser.prefs
/org.eclipse.ui.editors.prefs
/org.eclipse.ui.prefs
/org.eclipse.ui.workbench.prefs
/org.eclipse.wst.jsdt.core.prefs
/org.eclipse.wst.jsdt.ui.prefs
/org.eclipse.wst.server.ui.prefs
/org.jboss.ide.eclipse.as.ui.prefs
/org.eclipse.pde.api.tools.prefs
/org.eclipse.wst.ws.service.policy.prefs
