<?xml version="1.0"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://jboss.org/schema/cdi/beans_1_0.xsd">

<!-- 
Configuring a CDI Application

An application that uses CDI must have a file named beans.xml. The file can be completely empty 
(it has content only in certain limited situations), but it must be present. For a web application, 
the beans.xml file must be in the WEB-INF directory. For EJB modules or JAR files, the beans.xml file 
must be in the META-INF directory.

 If there is no beans.xml file in your META-INF or WEB-INF then that war file or jar file will not be 
 processed by CDI.
 --> 

<interceptors>
        <class>br.gov.frameworkdemoiselle.util.ValidatePayloadInterceptor</class>
        <!-- Ativar o mecanismo de controle transacional do Demoiselle -->
        <class>br.gov.frameworkdemoiselle.transaction.TransactionalInterceptor</class>
</interceptors>
 
</beans>
